@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 768px) {

    body {
        background-image: #bf46ef;
    }
    #login_form{
        width: 70vw;
        
        transition:  width 0.4s, height 0.4s;
        transition-timing-function: ease;
    }
   
}